<!DOCTYPE html PUBLIC "-//WAPFORUM//DTD XHTML Mobile 1.0//EN" "https://www.wapforum.org/DTD/xhtml-mobile10.dtd">
<html lang="en" xmlns="../www.w3.org/1999/xhtml/index.html">
<head>
    <% if (typeof settings !== 'undefined' && settings && settings.googleTagManagerHead) { %>
        <%- settings.googleTagManagerHead %>
    <% } %>
    
    <!-- Primary Meta Tags -->
    <meta charset="UTF-8">
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=5.0, user-scalable=yes">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    
    <!-- Title Optimization -->
    <title>FilmyFly - Download Latest Bollywood, Hollywood, South Hindi Dubbed Movies & Web Series in HD 2025 | Free HD Movie Downloads</title>
    
    <!-- Meta Description -->
    <meta name="description" content="Download latest Bollywood movies, Hollywood Hindi dubbed movies, South Indian movies, Web Series, Animation movies, K-Drama in HD quality. Free movie downloads in 480p, 720p, 1080p. No registration required at FilmyFly.">
    
    <!-- Meta Keywords -->
    <meta name="keywords" content="filmyfly, filmy4wap, download movies, bollywood movies, hollywood movies, south movies, hindi dubbed movies, web series, hd movies, free movies, movie download, 480p movies, 720p movies, 1080p movies, latest movies 2025, new movies, movie download site, filmyfly.xyz, filmy4wap.xyz, free movie download, filmy4wap.in, filmy4wap.com, filmy4wap.xyz, filmy4wap.pro, filmy4wap.xy, filmy4wap.com.de, bollywood hindi movies, hollywood hindi movies, south hindi dubbed movie, animation movies, k-drama hindi dubbed, punjabi movies, 18+ web series, hq dubbed movies, star cast movie collection">
    
    <!-- Author & Copyright -->
    <meta name="author" content="FilmyFly">
    <meta name="copyright" content="FilmyFly">
    <meta name="owner" content="FilmyFly">
    <meta name="publisher" content="FilmyFly">
    
    <!-- Robots & Indexing -->
    <meta name="robots" content="index, follow, max-image-preview:large, max-snippet:-1, max-video-preview:-1">
    <meta name="googlebot" content="index, follow, max-image-preview:large, max-snippet:-1, max-video-preview:-1">
    <meta name="bingbot" content="index, follow, max-image-preview:large, max-snippet:-1, max-video-preview:-1">
    <meta name="slurp" content="index, follow">
    <meta name="duckduckbot" content="index, follow">
    
    <!-- Language & Region -->
    <meta name="language" content="English, Hindi">
    <meta name="geo.region" content="IN">
    <meta name="geo.placename" content="India">
    <meta name="geo.position" content="20.5937;78.9629">
    <meta name="ICBM" content="20.5937, 78.9629">
    
    <!-- Open Graph / Facebook -->
    <meta property="og:type" content="website">
    <meta property="og:url" content="<%= typeof settings !== 'undefined' && settings && settings.siteUrl ? settings.siteUrl : 'https://filmyfly.work' %>/">
    <meta property="og:title" content="FilmyFly - Download Latest Movies & Web Series in HD 2025">
    <meta property="og:description" content="Download latest Bollywood, Hollywood, South Hindi dubbed movies and web series in HD quality. Free movie downloads at FilmyFly.">
    <meta property="og:image" content="<%= typeof settings !== 'undefined' && settings && settings.siteUrl ? settings.siteUrl : 'https://filmyfly.work' %>/images/filmyflylogo.png">
    <meta property="og:image:width" content="1200">
    <meta property="og:image:height" content="630">
    <meta property="og:image:alt" content="FilmyFly - Free HD Movie Downloads">
    <meta property="og:site_name" content="FilmyFly">
    <meta property="og:locale" content="en_US">
    <meta property="og:locale:alternate" content="hi_IN">
    
    <!-- Twitter Card -->
    <meta name="twitter:card" content="summary_large_image">
    <meta name="twitter:url" content="<%= typeof settings !== 'undefined' && settings && settings.siteUrl ? settings.siteUrl : 'https://filmyfly.work' %>/">
    <meta name="twitter:title" content="FilmyFly - Download Latest Movies & Web Series in HD">
    <meta name="twitter:description" content="Download latest Bollywood, Hollywood, South Hindi dubbed movies and web series in HD quality. Free movie downloads.">
    <meta name="twitter:image" content="<%= typeof settings !== 'undefined' && settings && settings.siteUrl ? settings.siteUrl : 'https://filmyfly.work' %>/images/filmyflylogo.png">
    <meta name="twitter:image:alt" content="FilmyFly - Free HD Movie Downloads">
    <meta name="twitter:site" content="@filmyfly">
    <meta name="twitter:creator" content="@filmyfly">
    
    <!-- Canonical URL -->
    <link rel="canonical" href="<%= typeof settings !== 'undefined' && settings && settings.siteUrl ? settings.siteUrl : 'https://filmyfly.work' %>/">
    
    <!-- Sitemap -->
    <link rel="sitemap" type="application/xml" href="<%= typeof settings !== 'undefined' && settings && settings.siteUrl ? settings.siteUrl : 'https://filmyfly.work' %>/sitemap.xml">
    
    <!-- Alternate Languages -->
    <link rel="alternate" hreflang="en" href="<%= typeof settings !== 'undefined' && settings && settings.siteUrl ? settings.siteUrl : 'https://filmyfly.work' %>/">
    <link rel="alternate" hreflang="hi" href="<%= typeof settings !== 'undefined' && settings && settings.siteUrl ? settings.siteUrl : 'https://filmyfly.work' %>/">
    <link rel="alternate" hreflang="x-default" href="<%= typeof settings !== 'undefined' && settings && settings.siteUrl ? settings.siteUrl : 'https://filmyfly.work' %>/">
    
    <!-- Favicon & Icons -->
    <link rel="shortcut icon" href="/images/filmyfly.png" type="image/png">
    <link rel="icon" href="/images/filmyfly.png" type="image/png">
    <link rel="apple-touch-icon" href="/images/filmyfly.png">
    <link rel="apple-touch-icon" sizes="57x57" href="/images/filmyfly.png">
    <link rel="apple-touch-icon" sizes="72x72" href="/images/filmyfly.png">
    <link rel="apple-touch-icon" sizes="114x114" href="/images/filmyfly.png">
    <link rel="apple-touch-icon" sizes="144x144" href="/images/filmyfly.png">
    
    <!-- Theme Color -->
    <meta name="theme-color" content="#0066ff">
    <meta name="msapplication-TileColor" content="#0066ff">
    <meta name="msapplication-navbutton-color" content="#0066ff">
    <meta name="apple-mobile-web-app-status-bar-style" content="black-translucent">
    
    <!-- DNS Prefetch & Preconnect -->
    <link rel="dns-prefetch" href="//www.googletagmanager.com">
    <link rel="dns-prefetch" href="//www.google-analytics.com">
    <link rel="dns-prefetch" href="//fonts.googleapis.com">
    <link rel="preconnect" href="https://www.googletagmanager.com" crossorigin>
    <link rel="preconnect" href="https://www.google-analytics.com" crossorigin>
    
    <!-- Google Search Console -->
    <% if (typeof settings !== 'undefined' && settings && settings.googleSearchConsole) { %>
        <%- settings.googleSearchConsole %>
    <% } %>
    
    <!-- Google Analytics -->
    <% if (typeof settings !== 'undefined' && settings && settings.googleAnalytics) { %>
        <%- settings.googleAnalytics %>
    <% } %>
    
    <!-- AdSense Code -->
    <% if (typeof settings !== 'undefined' && settings && settings.adsenseCode) { %>
        <%- settings.adsenseCode %>
    <% } %>
    
    <!-- Adstera Code -->
    <% if (typeof settings !== 'undefined' && settings && settings.adsteraCode) { %>
        <%- settings.adsteraCode %>
    <% } %>
    
    <!-- Stylesheet -->
    <link rel="stylesheet" type="text/css" href="/css/style.css" />
    
    <!-- Cache Control -->
    <meta http-equiv="Cache-Control" content="no-cache, no-store, must-revalidate">
    <meta http-equiv="Pragma" content="no-cache">
    <meta http-equiv="Expires" content="0">
    
    <!-- Structured Data (JSON-LD) -->
    <script type="application/ld+json">
    {
      "@context": "https://schema.org",
      "@type": "WebSite",
      "name": "FilmyFly",
      "alternateName": "FilmyFly - Free HD Movie Downloads",
      "url": "<%= typeof settings !== 'undefined' && settings && settings.siteUrl ? settings.siteUrl : 'https://filmyfly.work' %>/",
      "description": "Download latest Bollywood, Hollywood, South Hindi dubbed movies and web series in HD quality. Free movie downloads.",
      "potentialAction": {
        "@type": "SearchAction",
        "target": "<%= typeof settings !== 'undefined' && settings && settings.siteUrl ? settings.siteUrl : 'https://filmyfly.work' %>/?s={search_term_string}",
        "query-input": "required name=search_term_string"
      },
      "publisher": {
        "@type": "Organization",
        "name": "FilmyFly",
        "logo": {
          "@type": "ImageObject",
          "url": "<%= typeof settings !== 'undefined' && settings && settings.siteUrl ? settings.siteUrl : 'https://filmyfly.work' %>/images/filmyflylogo.png"
        }
      }
    }
    </script>
    
    <script type="application/ld+json">
    {
      "@context": "https://schema.org",
      "@type": "Organization",
      "name": "FilmyFly",
      "url": "<%= typeof settings !== 'undefined' && settings && settings.siteUrl ? settings.siteUrl : 'https://filmyfly.work' %>/",
      "logo": "<%= typeof settings !== 'undefined' && settings && settings.siteUrl ? settings.siteUrl : 'https://filmyfly.work' %>/images/filmyflylogo.png",
      "sameAs": [
        "https://www.facebook.com/filmyfly",
        "https://www.twitter.com/filmyfly",
        "https://www.instagram.com/filmyfly"
      ],
      "contactPoint": {
        "@type": "ContactPoint",
        "contactType": "Customer Service",
        "availableLanguage": ["English", "Hindi"]
      }
    }
    </script>
    
</head>

<body>
    <% if (typeof settings !== 'undefined' && settings && settings.googleTagManagerBody) { %>
        <%- settings.googleTagManagerBody %>
    <% } %>
    <!--   -->
    <div align="center">
      <div class="A1"><a href="/"><img
            src="/images/filmyflylogo.png" style="max-width: 400px;"
            width="100%" height="60" alt="filmy4wap" /></a></div>
      <div align="center">
        <div class="search">
          <form action="/search" method="get"><input type="text" name="to-search" size="20%"
              maxlength="2048" value="" placeholder="Search movies..." /><input type="submit" value="Search" /></form>
        </div>
      </div>
      <center>
        <h1><a href="/"> <% 
          let displayUrl = 'filmyfly.work';
          if (typeof settings !== 'undefined' && settings && settings.siteUrl) {
            try {
              const url = new URL(settings.siteUrl);
              displayUrl = url.hostname.replace('www.', '');
            } catch (e) {
              displayUrl = settings.siteUrl.replace(/^https?:\/\//, '').replace(/^www\./, '').replace(/\/$/, '');
            }
          }
        %><%= displayUrl %> Movies And Web Series Downloads </a></h1>
      </center>
      <title> <%= typeof settings !== 'undefined' && settings && settings.siteUrl ? new URL(settings.siteUrl).hostname.replace('www.', '') : 'filmyfly.work' %> 2025 South Bollywood & Hollywood Hindi Animation Web Series at Filmy4wap - FilmyFly </title>
